@charset "utf-8";
  /*---MIXIN---*/
@mixin box-sizing($border-box){
	-moz-box-sizing: $border-box;
    -webkit-box-sizing: $border-box;
    box-sizing: $border-box;
}
@mixin transition ($transitions...){
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-o-transition: $transitions;
	transition: $transitions;
}
@mixin centering ($position,$x,$y,$top,$left) {
	width: 100%;
    position: $position;
    top: $top;
    left: $left;
    -moz-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}
@mixin translate3d($x,$y,$z){
	-webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
}
@media screen and (max-width: 1900px) {
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
  .example {
    .example-wrp {
      .item {
        &.i1 {
          h2 {
            font-size: 28px;
            line-height: 35px;
          }
        }
        .blue-bg {
          .text-wrp {
            p, ul li {
              font-size: 14px;
              line-height: 20px;
            }
            ul {
              padding-left: 2%;
            }
          }
        }
      }
    }
  }
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          .text-box {
            h2 {
              font-size: 35px;
              line-height: 45px;
            }
            p {
              margin-top: 100px;
              font-size: 20px;
              line-height: 38px;
            }
          }
        }
      }
      .slider-count-wrp {
        bottom: 20px;
        .slider-count {
          font-size: 30px;
          line-height: 48px;
        }
      }
    }
  }
  
}
@media screen and (max-width: 1400px) {
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          .text-box {
            p {
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
  /*--VIDEOS--*/
  .videos {
    .video {
      .play {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        background-size: 11px;
        &:after {
          width: 70px;
          height: 70px;
          top: 50%;
          margin-top: -35px;
          left: 50%;
          margin-left: -35px;
        }
      }
    }
  }

}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }
  h4 {
    white-space: normal;
  }
  .wrap {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .main-form {
    @include box-sizing(border-box);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    form {
      input[type="text"], button {
        width: 30%;
      }
    }
    .bestseller-ico {
      top: -54px;
      right: -28px;
    }
  }
  /*--CHANGE--*/
  .change {
    background-size: cover;
    .titles {
      .title {
        font-size: 16px;
        line-height: 36px;
      }
    }
    .img {
      width: 700px;
      margin: 0 auto;
    }
    .change-wrp {
      top: 250px;
      width: 700px;
      margin-left: -350px;
      min-height: 350px;
      .item {
        width: 120px;
        height: 120px;
        &:before {
          width: 120px;
          height: 120px;
          margin-left: -60px;
          margin-top: -60px;
        }
        &:after {
          width: 140px;
          height: 173px;
          background-size: 140px; 
          margin-left: -70px;
          margin-top: -86.5px;

        }
        .red-line {
          width: 120px;
        }
      }
    }
    .video {
      width: 100%;
      position: relative;
      left: auto;
      bottom: 0px;
      margin-left: auto;
    }
  }
  /*--MACHINE--*/
  .machine {
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    &:before {
      display: none;
    }
    .img {
      position: static;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
     .machine-pluses {
      margin-top: 0px;
      padding-top: 0px;
      width: 100%;
      min-height: 1px;
      .item {
        width: 330px;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        padding-right: 0px !important;
        vertical-align: top;
        text-align: left !important;
        padding-left: 53px !important;
        background-position: center left !important;
        position: static;
      }
     }
  }
  /*--EXAMPLE--*/
  .example {
    .example-wrp {
      .item {
        &.i1 {
          h2 {
            font-size: 20px;
            line-height: 26px;
            white-space: normal;
          }
        }
        .blue-bg {
          .text-wrp {
            p, ul li {
              white-space: normal;
            }
            ul {
              li {
                padding-left: 20px;
                background-size: 15px;
                background-position: left top 3px;  
              }
            }
            .button {
              width: auto;
              padding: 0 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  /*---COMAPRE---*/
  .compare {
    padding-top: 60px;
    padding-bottom: 30px;
    .compare-slide {
      overflow-x:auto;
      overflow-y: hidden;
      width: 100%;
      .compare-wrp {
        padding-top: 60px;
        width: 1170px;          
        .col {
          .table-row {
            .table-cell {
              h3 { 
                font-size: 15px;
                line-height: 22px;
              }
              span {
                font-size: 14px;
              }
            }
          }
        }
        .best-chose {
          margin-top: 25px;
          .text {
            padding-left: 0px;
            padding-bottom: 15px;
          }
          .button {
            width: 244px;
          }
        }
      }
    }
  }
  /*--PRESETN--*/
  .present {
    &:before {
      bottom: -460px;
    }
    &:after {
      bottom: -400px;
    }
    h2 {
      font-size: 37px;
      line-height: 48px;
    }
    .present-wrp {
      .col {
        .img {
          width: 340px;
        }
        .text-box {
          padding: 25px 15px 22px 15px;
          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .machine-img {
        top: 0px;
        width: 220px;
        margin-left: -110px;
      }
      .text {
        width: 330px;
          padding-top: 50px;
          p {
            font-size: 21px;
          }
          .price {
            font-size: 45px;
            line-height: 55px;
          }
          p.arrows {
            margin-top: 50px;
          }
      }
    }
  }
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          width: 450px;
          padding-left: 5%;
          padding-top: 2%;
          .text-box {
            h2 {
              font-size: 25px;
              line-height: 35px;
            }
            p {
              margin-top: 30px;
              font-size: 14px;
              line-height: 20px;
             
            }
          }
        }
      }
      .bx-wrapper {
        .bx-controls {
          top: auto;
          margin-top: 0px;
          left: 5%;
          bottom: 25%;
        }
      }
      .slider-count-wrp {
        left: 5%;
        bottom: 15px;
        .slider-count {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
  /*--PROTECT--*/
  .protect {
    padding-bottom: 60px;
    background-size: 720px;
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    .protect-wrp {
      margin-top: 500px;
      min-height: 1px;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      .item {
        width: 23%;
        margin-right: 2%;
        text-align: center !important;
        float: left;
        vertical-align: top;
        position: static;
        h4 {
          padding-bottom: 10px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          white-space: normal;
        }
        .number {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  /*--RULLER--*/
  .ruler {
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    .titles {
      .title {
        margin-top: 0px;
        font-size: 14px;
        line-height: 30px;
         margin-left: auto;
      }
    }
    .ruler-wrp {
      .col {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  /*--VIDEOS--*/
  .videos {
    .video {
      .text {
        top: 20px; 
        h2 {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
  /*--FOOTER--*/
  footer {
    padding-left: 15px;
    padding-right: 15px;
    .col{
      &.right {
        .phone-wrp {
          padding-right: 15px;
        }
      }
    }
  }
  /*--DIALOGS--*/
  .dialogs {
    .popup {
      &.machine-popup {
        width: 98%;
        .form-box {
          .product-wrp {
            .col {
              float: none;
              margin-left: auto;
              margin-right: auto;
              &.right {
                width: 100%;
                padding-top: 40px;
              }
              .text-wrp {
                h2 {
                  text-align: center;
                }
                .text-block, .tabs-wrp {
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                }
              }
            }
            .main-form {
              p {
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

}
@media screen and (max-width: 880px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  header {
    .top-head {
      padding-right: 10px;
      .logo-wrp {
        .logo {
          width: 170px;
        }
        p {
          margin-left: 10px;
        }
      }
    }
    .titles {
      .title {
        font-size: 16px;
        line-height: 38px;
        &:before {
          width: 20px;
          height: 20px;
          background-size: 20px;
          margin-top: -10px;
        }
      }
    }
  }
  .main-form {
    form {
      input[type="text"], button{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      input[type="text"]{
        margin-bottom: 25px;
      }
    }
    .special {
      font-size: 18px;
      line-height: 30px;
    }
  }
  /*--PLUSES--*/
  .pluses {
    .item {
      width: 29%;
      margin: 2%; 
    }
  }
  /*--CHANGE--*/
  .change {
    .titles {
      .title {
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
  /*--EXAMPLE--*/
  .example {
    .example-wrp {
      .item {
        width: 50%;
      }
    }
  }
  /*--COMPARE--*/
  .compare {
    h2 {
      font-size: 40px;
      line-height: 48px;
    }
    .compare-slide {
      .compare-wrp {
        padding-top: 40px;
      }
    }
  }
  /*--PRESETN--*/
  .present {
    h2 {
      font-size: 30px;
      line-height: 38px;
    }
    padding-top: 60px;
    padding-bottom: 40px;
    &:before {
      bottom: -299px;
    }
    &:after {
      display: none;
    }
    .present-wrp {
      .col {
        float: none;
        .img {
          width: 340px;
        }
        .text-box {
          top: auto;
          margin-top: 0px;
          bottom: 0px;
        }
      }
      .machine-img {
        margin-left: 0px;
        left: auto;
        right: 30px;
      }
      .text {
        text-align: center;
        float: none;
        width: 330px;
        margin: 0 auto;
          padding-top: 50px;
          p {
            font-size: 21px;
          }
          .price {
            margin-top: 20px;
            font-size: 35px;
            line-height: 45px;
          }
          p.arrows {
            margin-top: 20px;
            margin-left: 0px;
            font-size: 15px;
          }
      }
    }
  }
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          .text-box {
            h2 {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  /*--PROTECT--*/
  .protect {
    h2 {
      font-size: 35px;
      line-height: 35px;
    }
    .protect-wrp {
      margin-top: 450px;
      .item {
        width: 45%;
        margin: 20px 2.5%;
        text-align: center !important;
        float: left;
        vertical-align: top;
        position: static;
        &:nth-child(odd) {
          clear: both;
        }
        h4 {
          padding-bottom: 10px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          white-space: normal;
        }
        .number {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  /*--FOOTER--*/
  footer {
    text-align: center;
    .col{
      float: none;
      &.right {
        padding-top: 30px;
      }
    }
  }


}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  header {
    .top-head {
      padding-right: 0px;
      .logo-wrp, .phone-wrp {
        float: none;
        text-align: center;
      }
      .logo-wrp {
        p {
          text-align: left;
        }
      }
      .phone-wrp {
        padding-top: 20px;
      }
    }
    .titles {
      .title {
        font-size: 14px;
        line-height: 30px;
        margin-left: -23px;
      }
    }
  }
  .main-form {
    form {
      input[type="text"], button{
        width: 90%;
      }
    }
    .special {
      font-size: 16px;
      line-height: 25px;
      .old-price {
        font-size: 14px;
      }
    }
  }
  /*--CHANGE--*/
  .change {
    padding-bottom: 60px;
    .titles {
      .title {
        width: 280px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .img {
      width: 100%;
      margin-top: 20px;
    }
    .change-wrp {
      width: 100%;
      padding-top: 40px;
      text-align: center;
      position: static;
      margin-left: auto;
      min-height: 1px;
      .item {
        left: 0px !important;
        top: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        position: relative;
        display: inline-block;
        margin: 20px;
      }
    }
  }
   /*--COMPARE--*/
  .compare {
    h2 {
      font-size: 30px;
      line-height: 38px;
    }
  }
  /*--PRESETN--*/
  .present {
    h2 {
      font-size: 26px;
      line-height: 32px;
    }
  }
  /*--PROTECT--*/
  .protect {
    background-size: 600px;
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
    .protect-wrp {
      .item {
        width: 45%;
        margin: 20px 2.5%;
        text-align: center !important;
        float: left;
        vertical-align: top;
        position: static;
        &:nth-child(odd) {
          clear: both;
        }
        h4 {
          padding-bottom: 10px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          white-space: normal;
        }
        .number {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  /*--RULLER--*/
  .ruler {
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
    .titles {
      .title {
        width: 340px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
      }
    }
  }
  /*--VIDEOS--*/
  .videos {
    .video {
      width: 100%;
    }
  }
  /*--DIALOGS--*/
  .dialogs {
    .thanks-popup {
      .form-box {
        width: 450px;
        .text-wrp {
          h2 {
            font-size: 45px;
            line-height: 50px;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 25px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
  }
  header {
    .titles {
      padding-top:100px;
      .title {
        width: 240px;
        line-height: 18px;
        margin-left: auto;
        padding-left: 35px;
        padding-right: 25px;
      }
    }
  }
  .main-form {
    .special {
      font-size: 14px;
      line-height: 20px;
      max-width: 310px;
      margin-left: auto;
      margin-right: auto;
    }
    .bestseller-ico {
      width: 151px;
      height: 145px;
      background-size:151px;
      top: -30px;
      right: -23px;
    }
  }
   /*--PLUSES--*/
  .pluses {
    .item {
      width: 46%;
      margin: 2%; 
    }
  }
  .play {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -32.5px;
    top: 50%;
    margin-top: -32.5px;
    background-size: 13px;
    &:after {
      width: 90px;
      height: 90px;
      top: 50%;
      margin-top: -45px;
      left: 50%;
      margin-left: -45px;
    }
  }
  /*--COMPARE--*/
  .compare {
    h2 {
      font-size: 23px;
      line-height: 30px;
    }
  }
  /*--EXAMPLE--*/
  .example {
    .example-wrp {
      position: relative;
      z-index: 5;
      .item {
        &:hover {
          .text-wrp, .red-plus {
            opacity: 1;
            display: block;
          }
        }
        .text-wrp {
            .button {
              width: 210px;
              font-size: 14px;
              display: inline-block;
            }
          }
        .blue-bg {
          display: none !important;
          .text-wrp {
            .button {
              display: none;
            }
          }
        }
      }
    }
  }
  /*--PRESETN--*/
  .present {
    h2 {
      font-size: 30px;
      line-height: 38px;
      white-space: normal;
    }
    padding-top: 60px;
    padding-bottom: 40px;
    &:before {
      bottom: -299px;
    }
    .present-wrp {
      .col {
        float: none;
        .img {
          width: 340px;
          margin: 0 auto;
        }
        .text-box {
          left: 50%;
          margin-left: -185px;
        }
      }
      .machine-img {
        position: static;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        left: auto;
        right: 30px;
      }
      .text {
        text-align: center;
        float: none;
        width: 330px;
        margin: 0 auto;
          padding-top: 50px;
          p {
            font-size: 21px;
          }
          .price {
            margin-top: 20px;
            font-size: 35px;
            line-height: 45px;
          }
          p.arrows {
            margin-top: 20px;
            margin-left: 0px;
            font-size: 15px;
          }
      }
    }
  }
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          padding-top: 40px;
          min-height: 250px;
          padding-bottom: 40px;
          width: 100%;
          position: static;
          background: linear-gradient(to right, rgba(27,37,43,1) 0%, rgba(27,37,43,0.9) 100%);
          .text-box {
            h2 {
              font-size: 20px;
              white-space: normal;
              line-height: 25px;
            }
            p {
              margin-top: 20px;
              font-size: 14px;
              line-height: 20px;
             
            }
          }
        }
      }
      .bx-wrapper {
        .bx-controls {
          left: auto;
          bottom: auto;
          right: 20px;
          top: 20px;
          .bx-pager {
            .bx-pager-item {
              display: block;
              margin-right: 0;
            }
          }

        }
      }
      .slider-count-wrp {
        left: 5%;
        bottom: 8%;
        .slider-count {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
  /*--PROTECT--*/
  .protect {
    background-size: 100%;
    h2 {
      font-size: 25px;
      line-height: 27px;
      white-space: normal;
    }
    .protect-wrp {
      margin-top: 400px;
    }
  }
  /*--RULLER--*/
  .ruler {
    padding-top: 40px;
    padding-bottom: 40px;
    .ruler-wrp {
      .col {
        padding-top: 20px;
        width: 96%;
        h2 {
          font-size: 60px;
        }
        .img {
          position: static;
          left: auto;
          margin-left: auto !important;
          margin-right: auto;
          width: 200px !important;
          margin-top: 20px;
        }
        .text {
          padding: 0 10px; 
          padding-top: 25px;
          p {
            white-space: normal;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  /*--FOOTER--*/
  footer {
    .col{
      &.right {
        .button {
          display: block;
          margin: 20px auto 0px;
        }
      }
    }
  }
  /*--DIALOGS--*/
  .dialogs {
    .popup {
      &.machine-popup {
        .form-box {
          .product-wrp {
            .col {
              width: 100%;
              .product-slider-wrp {
                .bx-wrapper {
                  margin-left: auto;
                  .slide {
                    .img {
                      width: 300px;
                      margin-left: auto;
                      margin-right: auto;
                    }
                  }
                }
                .pager-custom-img {
                  a {
                    width: 70px;
                    height: 70px;
                    margin-right: 15px;
                    img {
                      width: 40px;
                    }
                  }
                }
                .bx-controls {
                  .bx-controls-direction {
                    bottom: 20px;
                  }
                }
              }
              .text-wrp {
                h2 {
                  font-size: 40px;
                  line-height: 45px;
                }
                .tabs-wrp {
                  width: 100%;
                  .tab {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    float: none;
                    display: block;
                    border: 1px solid #e6e6e6 !important;
                    border-radius: 20px !important;
                    margin-bottom: 20px; 
                  }
                }
                .text-block {
                  width: 100%;
                  .row {
                    @include box-sizing(border-box);
                    padding-left: 10px;
                    padding-right: 10px;
                    span, p {
                      font-size: 14px;
                      line-height: 24px;
                    }
                    span:nth-child(odd) {
                      width: 68%;
                      padding-right: 2%;
                    }
                  }
                }
              }
            }
            .main-form {
              p {
                &.arrows {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      &.info-popup {
        width: 100%;
        max-width: 400px;
        .form-box {
          .close {
            right: -20px;
          }
          .popup-wrp {
            .form-wrp {
              input[type="text"],textarea,button {
                width: 90%;
              }
            }
            p {
              &.prices {
                font-size: 15px;
                line-height: 20px;
              }
              &.arrows {
                margin-top: 25px !important;
                font-size: 13px;
              }
              &.personal {
                margin-top: 25px;
              }
            }
          }
        }
      }
      &.polytic-popup {
        width: 98%;
      }
    }
    .thanks-popup {
      .form-box {
        .text-wrp {
          h2 {
            font-size: 35px;
            line-height: 40px;
          }
          p {
             margin-top: 20px;
            font-size: 18px;
            line-height: 25px; 
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  /*--PROTECT--*/
  .protect {
    .protect-wrp {
      margin-top: 350px;
    }
  }
}
@media screen and (max-width: 450px) {
  h1 {
    width: 300px;
    font-size: 20px;
    line-height: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }
  header {
    .top-head {
      .logo-wrp {
        p {
          margin-top: 20px;
          text-align: center;
          display: block;
          margin-left: 0px;
        }
      }
    }
  }
  p.arrows {
    font-size: 14px;
    line-height: 25px;
    padding: 0 41px;
  }
  /*--MACHINE--*/
  .machine {
    h2 {
     white-space: normal;
     padding: 0 5px;
    }
    .machine-wrp {
      padding-top: 20px;
    }
    .img {
      width: 200px;
    }
    .machine-pluses {
      padding-top: 30px;
      .item {
        width: 95%;
        margin: 0 auto 20px;
        padding-left: 0px !important;
        background-position: center  top !important;
        padding-top: 45px;
        text-align: center !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        h3, p {
          font-size: 14px;
          line-height: 20px;
          white-space: normal;
        }
      }
    }
  }
  /*--EXAMPLE--*/
  .example {
    .example-wrp {
      .item {
        width: 100%;
      }
    }
  }
  /*--COMPARE--*/
  .compare {
    h2 {
      white-space: normal;
    }
  }
  /*--PREESENT-*/
  .present {
    h2 {
      font-size: 25px;
      line-height: 28px;
    }
    .present-wrp {
      .col {
        .img {
          width: auto;
          max-width: 340px;
        }
        .text-box {
          display: block;
          width: 300px;
          position: relative;
          left: auto;
          margin-right: auto;
          margin-left: auto;
          padding: 10px;
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .text {
        width: auto;
        .button {
          width: 280px;
        }
      }
    }
  }
  /*--DESCRIPTION--*/
  .description {
    .description-slider-wrp {
      .slide {
        .text-box-wrp {
          padding-top: 20px;
          padding-bottom: 20px;
          min-height: 250px;
          .text-box {
            h2 {
              font-size: 17px;
              line-height: 20px;
            }
          }
        }
      }
      .slider-count-wrp {
        bottom: 5%;
        .slider-count {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .protect {
    h2 {
      font-size: 22px;
      line-height: 25px;
      white-space: normal;
    }
  }
  /*--PROTECT--*/
  .protect {
    padding-bottom: 40px;
    background-size: 320px;
    .protect-wrp {
      margin-top: 250px;
      .item {
        width: 100%;
        float: none;
        margin: 0px auto 30px;
        h4 {
          font-size: 18px;
        }
      }
    }
  }
  /*--RULLER--*/
  .ruler {
    h2 {
      font-size: 20px;
      line-height: 25px;
    }
    .titles {
      .title {
        width: 280px;
        letter-spacing: 0px;
      }
    }
    .ruler-wrp {
      .col {
        width: 100%;
      }
    }
  }
  /*--VIDEOS--*/
  .videos {
    .video {
      width: 100%;
      .text {
        top: 10px;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
  /*--DIALOGS--*/
  .dialogs {
    .popup {
      &.machine-popup {
        .form-box {
           .product-wrp {
            .col {
              .product-slider-wrp {
                padding-bottom: 60px;
                .bx-controls {
                  .bx-controls-direction {
                    bottom: 0px;
                  }
                }
              }
              .text-wrp {
                h2 {
                  font-size: 30px;
                  line-height: 35px;
                }
                .text-block {
                  .row {
                    border-bottom: 1px solid #e6e6e6;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:last-child {
                      border: none;
                    }
                    span, p {
                      font-size: 13px;
                      line-height: 20px;
                    }
                    span {
                      &:nth-child(odd) {
                        width: 58%;
                        padding-right: 2%;
                      }
                      &:nth-child(even) {
                        width: 40%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.info-popup {
        padding-top: 0px;
        max-width: 100%;
        width: 98%;
        .form-box {
          .close {
            top: 15px;
            right: 15px;
          }
           .popup-wrp {
            h2 {
              font-size: 27px;
              padding-left: 5px;
              padding-right: 5px;
              line-height: 30px;
            }
            .form-wrp {
              width: 100%;
            }
          }
        }
      }
    }
    .thanks-popup {
      .form-box {
        width: 300px;
        height: 240px;
      }
    }
  }
}
@media screen and (max-width: 370px) {
  h1 {
    width: 270px;
    font-size: 16px;
    line-height: 20px;
  }
  header {
    .titles {
      .title {
        padding-left: 30px;
        padding-right: 16px;
        margin-left: 0px;
      }
    }
  }
   /*--PLUSES--*/
  .pluses {
    .item {
      width: 100%;
      margin: 0 auto 30px;
      &:last-child {
        margin-bottom: 0;
      } 
    }
  }
  /*--COMPARE--*/
  .compare {
    h2 {
      font-size: 17px;
      line-height: 23px;
    }
  }
  /*--RULLER--*/
  .ruler {
    .ruler-wrp {
      .col {
        .img {
          width: 140px !important;
        }
      }
    }
  }
  /*--DIALOGS--*/
  .dialogs {
    .popup {
      &.machine-popup {
        .form-box {
          .product-wrp {
            .col {
              .product-slider-wrp {
                .bx-wrapper {
                  .slide {
                    .img {
                      width: 200px;
                    }
                  }
                }
                .bx-controls {
                  .bx-controls-direction {
                    bottom: 0px;
                  }
                }
              }
              .text-wrp {
                h2 {
                  font-size: 28px;
                }
                .tabs-wrp {
                  .tab {
                    width: 90%;
                  }
                }
              }
            }
            .main-form {
              h2 {
                font-size: 28px;
                line-height: 30px;
              }
              p {
                &.arrows {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      &.info-popup {
        .form-box {
          .popup-wrp {
            h2 {
              font-size: 24px;
            }
          }
        }
      }
    } 
  }
}







