/*---MIXIN---*/
/*---VARIABLES---*/
@media screen and (max-width: 1920px) {
  .roof-slider .img {
    width: 100%; }

  .order .item p {
    white-space: normal; } }
@media screen and (max-width: 1500px) {
  .catalog-wrp:before {
    display: none; }
  .catalog-wrp .price {
    margin: 15px 0; }
  .catalog-wrp .tabs-wrp .row {
    margin-bottom: 15px; }
  .catalog-wrp .colors {
    margin-bottom: 15px; } }
@media screen and (max-width: 1280px) {
  .popup-form {
    width: 600px;
    margin-left: -300px;
    height: 500px;
    margin-top: -250px; }
    .popup-form .form-wrp {
      padding-top: 100px; }
      .popup-form .form-wrp p {
        font-size: 20px !important;
        line-height: 20px !important;
        padding: 0 10px !important; }
    .popup-form .white-row {
      width: 90% !important;
      margin: 0 auto !important;
      background-color: transparent; }
      .popup-form .white-row .border {
        display: none; }
    .popup-form input[type=text] {
      margin-bottom: 20px; }
    .popup-form input[type=text] {
      width: 100% !important; }
    .popup-form button {
      width: 90% !important; } }
@media screen and (max-width: 1200px) {
  .wrap {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%; }

  h2 {
    font-size: 30px; }

  header {
    background-size: cover; }

  .under-title span {
    margin-right: 40px; }

  .form-wrp p.record {
    padding: 0 5px;
    font-size: 20px; }
  .form-wrp .white-row {
    width: 100%;
    margin: 0 auto 20px;
    display: block; }
    .form-wrp .white-row input[type=text] {
      width: 49.7%; }

  .under-head p {
    font-size: 20px; }
    .under-head p.small {
      font-size: 16px; }

  .roof-slider-wrp .text-box .button {
    margin-bottom: 20px; }
  .roof-slider-wrp .text-box .description {
    padding-top: 30px; }
    .roof-slider-wrp .text-box .description .row {
      padding-bottom: 10px; }

  .why {
    background-size: cover; }
    .why .item {
      padding-left: 10%;
      width: 39%; }
      .why .item:first-child {
        margin-right: 2%; }
      .why .item p {
        white-space: normal; }

  .calculate {
    padding: 60px 0;
    text-align: center; }
    .calculate .slider-range-wrp, .calculate .select-wrp {
      text-align: center;
      display: block; }
    .calculate .select-wrp {
      margin: 70px auto 50px auto; }
    .calculate .lamp-wrp {
      display: block;
      margin: 0 auto; }
    .calculate #slider-range {
      margin: 0 auto; }
    .calculate .price-wrp {
      padding-top: 40px; }

  .guarantee .item {
    width: 40%;
    padding-left: 9%; }
    .guarantee .item.i1 {
      margin-right: 2%; }

  .montazh .img, .montazh .text {
    width: 48%; }
  .montazh .img {
    margin-right: 2%; }
  .montazh .text p {
    white-space: normal; }

  .order .item p {
    font-size: 16px;
    line-height: 22px;
    padding: 0 5px; }

  .reviews-slider-wrp .bx-wrapper {
    padding: 0 60px; }
  .reviews-slider-wrp .bx-prev {
    left: 0; }
  .reviews-slider-wrp .bx-next {
    right: 0; }
  .reviews-slider-wrp .video img {
    width: 100%; } }
@media screen and (max-width: 1100px) {
  .text-box-wrp {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    position: static; }
    .text-box-wrp .text-box {
      text-align: center;
      width: 100%;
      position: static;
      -moz-transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%); }
      .text-box-wrp .text-box h2 {
        padding-top: 40px;
        white-space: normal;
        text-align: center; }
      .text-box-wrp .text-box .description {
        width: 390px;
        margin: 0 auto;
        text-align: left; }

  .practice {
    padding: 40px 0; }
    .practice .button.big {
      margin: 40px auto 0; }

  .roof-slider-wrp:before {
    display: none; }
  .roof-slider-wrp .text-box .button {
    height: 30px;
    line-height: 30px;
    font-size: 14px; }
  .roof-slider-wrp .bx-pager {
    top: 30px;
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }

  .catalog {
    padding: 40px 0; }
    .catalog .under-head {
      padding-bottom: 30px; }
    .catalog .text-box {
      width: 390px;
      margin: 0 auto; }
    .catalog .text-box-wrp {
      width: 100%;
      padding: 40px 0;
      background-color: rgba(229, 229, 229, 0.7); }
    .catalog .colors-wrp .colors {
      margin: 10px !important; }

  .contacts {
    height: auto; }
    .contacts h2 {
      text-align: left; }
    .contacts .map {
      position: relative !important;
      height: 650px !important; }
    .contacts .text-box-wrp {
      width: 100%; }
      .contacts .text-box-wrp .text-box {
        text-align: left;
        width: 280px;
        padding-bottom: 30px; }
        .contacts .text-box-wrp .text-box h2 {
          text-align: left; }
      .contacts .text-box-wrp a.polytic {
        margin-top: 50px; } }
@media screen and (max-width: 880px) {
  h1 {
    font-size: 40px; }
    h1 sup {
      font-size: 20px; }

  .under-title span {
    margin: 10px !important; }

  .form-wrp p.record {
    font-size: 18px; }

  .pluses .item {
    width: 50%; }

  .under-head p {
    font-size: 18px; }
    .under-head p.small {
      font-size: 14px; }

  .montazh .blue-box {
    padding-bottom: 20px; }
  .montazh .img, .montazh .text {
    width: 100%;
    text-align: center; }
  .montazh .img {
    margin: -22px auto 30px; }
  .montazh .text {
    width: 420px;
    margin: 0 auto; }
    .montazh .text h2 {
      display: inline-block;
      text-align: center; }

  .order .item {
    width: 50%; }

  .certificate .under-head p {
    white-space: normal;
    font-size: 17px;
    line-height: 22px;
    padding: 0 5px; } }
@media screen and (max-width: 720px) {
  h2 {
    padding: 0 5px;
    font-size: 25px;
    white-space: normal; }

  h1 {
    font-size: 35px; }
    h1 sup {
      font-size: 15px; }

  .form-wrp p.record {
    font-size: 16px; }

  .why {
    padding: 40px 0; }
    .why .item {
      text-align: center;
      padding-left: 0px;
      padding-top: 80px;
      width: 98%;
      float: none;
      background-position: center top;
      margin: 0 auto 30px !important; }
      .why .item:last-child {
        margin-bottom: 0; }
    .why .row {
      padding-bottom: 0px; }

  .calculate .price-wrp span.price {
    display: block;
    margin: 0 auto 20px; }

  #slider-range {
    width: 500px; }

  .guarantee {
    padding: 40px 0;
    background-size: cover; }
    .guarantee .guarantee-wrp {
      padding-top: 40px; }
    .guarantee .item {
      width: 100%;
      float: none;
      padding-top: 70px;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
      background-position: center top !important; }
      .guarantee .item.i1 {
        margin-bottom: 30px; }

  .popup-text {
    width: 400px;
    margin-left: -200px; } }
@media screen and (max-width: 640px) {
  h1 {
    font-size: 27px;
    white-space: normal;
    padding: 0 5px; }

  h3 {
    font-size: 18px; }

  header {
    padding-bottom: 60px; }
    header .top-head .logo-wrp,
    header .top-head .phone-wrp {
      padding: 0;
      float: none;
      text-align: center; }
    header .top-head .phone-wrp {
      margin-top: 20px; }

  .main-wrp {
    padding-top: 60px; }

  .under-title {
    padding-top: 40px;
    padding-bottom: 40px; }
    .under-title span {
      font-size: 16px;
      margin: 10px !important; }

  .form-wrp p.star {
    font-size: 14px; }
  .form-wrp .white-row {
    margin-bottom: 0;
    background-color: transparent; }
    .form-wrp .white-row input[type=text] {
      width: 100%;
      margin: 0 auto 20px; }
    .form-wrp .white-row .border {
      display: none; }
  .form-wrp button {
    width: 100%; }

  .practice .under-head {
    padding-bottom: 40px; }
  .practice .button.big {
    height: 40px;
    line-height: 41px; }

  .under-head p {
    font-size: 15px; }

  .roof-slider-wrp:before {
    width: 40px;
    height: 40px;
    top: -20px;
    margin-left: -20px; }
  .roof-slider-wrp .bx-pager {
    width: 40px; }
    .roof-slider-wrp .bx-pager .bx-pager-item {
      margin-bottom: 15px; }
      .roof-slider-wrp .bx-pager .bx-pager-item .bx-pager-link {
        height: 4px; }

  #slider-range {
    width: 300px; }

  .montazh .text {
    width: 98%; }

  .order h2 {
    font-size: 20px;
    white-space: normal;
    padding-bottom: 40px; }

  .help {
    padding: 40px 0; }
    .help .form-wrp p.star {
      margin-bottom: 30px; }
    .help .callback span {
      display: block;
      margin-bottom: 20px; }
    .help .callback .phone {
      margin: 0 auto; }

  .reviews-bg {
    height: 300px; }

  .reviews {
    margin-top: -250px; }
    .reviews h2 {
      padding-bottom: 40px; }

  .reviews-slider-wrp .bx-wrapper {
    padding: 0px; }
  .reviews-slider-wrp .bx-prev, .reviews-slider-wrp .bx-next {
    top: auto;
    bottom: -60px; }
  .reviews-slider-wrp .bx-prev {
    left: 30px; }
  .reviews-slider-wrp .bx-next {
    right: 30px; }
  .reviews-slider-wrp .video {
    height: 300px; }

  .certificate {
    padding-top: 120px;
    padding-bottom: 120px; }
    .certificate .under-head p {
      font-size: 14px;
      line-height: 20px; }
    .certificate .bx-next, .certificate .bx-prev {
      top: auto;
      bottom: -60px; }
    .certificate .bx-prev {
      left: 40px; }
    .certificate .bx-next {
      right: 40px; }

  .popup-form {
    width: 400px;
    margin-left: -200px; }
    .popup-form .form-wrp p {
      font-size: 17px !important; }

  #parent_popup #popup {
    width: 400px;
    margin-left: -200px; } }
@media screen and (max-width: 450px) {
  h1 {
    width: 260px;
    margin: 0 auto;
    font-size: 23px; }

  .form-wrp p.star {
    width: 188px; }

  .pluses .item {
    width: 100%; }

  .practice .button.big {
    width: 90%; }

  .text-box-wrp .text-box p {
    font-size: 14px;
    line-height: 20px;
    white-space: normal; }
  .text-box-wrp .text-box .description {
    width: 100%; }

  .why .item p {
    font-size: 14px; }

  .catalog-wrp .text-box {
    width: 100%; }
  .catalog-wrp .tabs-wrp .tab:nth-child(odd) {
    margin-right: 10px; }
  .catalog-wrp .colors-wrp .colors {
    margin: 12px !important; }
  .catalog-wrp .colors-wrp .row {
    margin-bottom: 0; }

  .price-wrp .button {
    width: 280px; }

  #slider-range {
    width: 190px; }

  .montazh .img {
    margin: -22px auto 30px; }
    .montazh .img img {
      width: 300px; }
  .montazh .text h2 {
    display: inline-block;
    text-align: center; }

  .order h2 {
    width: 260px;
    margin: 0 auto; }
  .order .item {
    width: 100%; }

  .popup-form {
    width: 300px;
    margin-left: -150px; }
    .popup-form .form-wrp {
      padding-top: 80px; }
      .popup-form .form-wrp p {
        width: 260px !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px !important; }

  #parent_popup #popup {
    width: 300px;
    height: 250px;
    margin-top: -125px;
    margin-left: -150px; }
    #parent_popup #popup h2 {
      padding-top: 90px;
      font-size: 30px; }
    #parent_popup #popup .callback {
      font-size: 16px; }

  .popup-text {
    width: 300px;
    margin-left: -150px; } }
@media screen and (max-width: 370px) {
  .catalog-wrp .tabs-wrp .tab {
    display: block;
    margin: 0 auto 15px !important; }

  .montazh .img {
    margin: -22px auto 30px; }
    .montazh .img img {
      width: 280px; }
  .montazh .text h2 {
    font-size: 20px; }

  .reviews-bg {
    height: 200px; }

  .reviews {
    padding-top: 40px;
    margin-top: -200px; } }
@media screen and (max-height: 700px) and (max-width: 1100px) {
  .contacts .map {
    height: 320px !important; } }
@media screen and (max-height: 500px) and (max-width: 1100px) {
  .popup-form {
    height: 80%;
    padding-bottom: 40px;
    overflow-y: auto;
    top: 10%;
    margin-top: 0; } }
